# Make vim the default editor
export EDITOR="mvim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# colorful colors in iterm
export CLICOLOR=1
export LSCOLORS=ExFxCxDxBxegedabagacad

# faster rails env loading
export RUBY_GC_MALLOC_LIMIT=250000000
export RUBY_GC_HEAP_INIT_SLOTS=800000
export JAVA_HOME=`/usr/libexec/java_home -v 1.7`
export ANDROID_HOME=~/Android/sdk

export LANG=en_US.utf8
